*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;

    width: 100%;
    padding: 0.6em 1.75em 0.6em 1.75em;

    border-bottom: 2px solid rgb(209, 31, 0);
    background: rgb(0, 0, 0);
}

.header__container--inner {
    display: flex;
    align-items: center;

    height: 100%;
}

.header__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 0 1em 0 1em;

    text-decoration: none;
}

.header__link:last-child {
    padding: 0 0 0 1em;
}

.header__link--title {
    margin-top: 3px;

    font-size: 0.8rem;
    font-family: "Chakra Petch", sans-serif;
    color: whitesmoke;
}

.header__link--title:hover {
    text-decoration: underline;
    color: lightcoral;
}

.puzzle-img--mini {
    width: 50px;
    height: 50px;

    margin-right: 0.75em;

    cursor: pointer;
}

.header__title--mini {
    text-transform: uppercase;
    font-size: calc(10px + 1.5rem);
    font-family: "Chakra Petch", sans-serif;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px rgb(209, 31, 0);
}

.header-icon {
    width: 32.5px;
    height: 32.5px;

    cursor: pointer;
}

@media (max-width: 768px) {
    .header__title--mini {
        display: none;
    }
}
